a, a:hover, a:active, a:focus{
    outline: none;
}

div.popup{
    background: #fff;
    padding:0;
    font-family:arial,Segoe UI,"Helvetica Neue",Helvetica,sans-serif,monospace;
    width: 657px;
    height: 215px;
    font-size:13px;
}
div.popup  input{
    box-shadow:none;
}
*::-webkit-input-placeholder {
    color:    #c0bbbb !important;
}
*::-moz-placeholder {
    color:    #555 !important;
}
*:-moz-placeholder {
    color:    #555 !important;
}
*:-ms-input-placeholder {
    color:    #808080 !important;
}
[class^="idi-"]{
    background-image: url("img/idi-icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: text-top;
}
[class^="btn-"]{
    background-image: url("img/idb-button.png");
    background-repeat: no-repeat;
}
.main-content{
    background: #f2f2f2;
    height: 215px;
    max-height: 400px;
    position: relative;
}
.main-content .overlay{
	background:rgba(255,255,255,.8) url(img/3.gif) no-repeat center center;
	position:absolute;
	width:100%;
	height:100%;
	z-index:12345;
	display:none;

}
.header{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 65px;
    padding: 0 30px;
    border-bottom: 1px solid #ededed;
}
.logo{
    float: left;
    width: 200px;
}
.support{
    float: right;
    padding-top:22px;
    color: #939393;
}
.support b{
    color: #666666;
}
.vnp-group{
    background: #ffffff;
    height: 24px;
    padding:7px 0 0 30px;
    text-transform: uppercase;
    color: #7f7f7f;
    border-bottom: 1px solid #ededed;
    font-size: 12px;
}
.vnp-group p{
    color: #7f7f7f;
    font-weight: bold;
}
.popup-signin{
    padding-top: 17px;
    margin-bottom: 22px;
}
.signin-left{
    margin-top: 35px;
    margin-left: 13px !important;
}
.oauth{
    margin-left: 17px;
}
.oauth a{
    float: left;
}
.btn-facebook{
    background-position: 0 -159px;
    height: 32px;
    width: 230px;
    margin-bottom: 17px;
}
.btn-google{
    background-position: 0 -199px;
    height: 32px;
    width: 230px;
}
.popup-signin .signin-right{
    border-left: 1px solid #e2e2e2;
    margin-left: 0;
    padding-left: 25px;
    margin-top: 10px;
    *padding-left: 0;
}
.top-form-signin{
    margin-top: -13px;
    margin-bottom: 12px;
}
.form-signin-popup{
    font-size:13px;
    width:310px;
    margin-bottom: 0;
    *padding-left: 25px;
}
a.signup-now{
    color: #919191;
    text-decoration: underline;
    font-size: 13px;
    margin-top: 5px;
}
.password-container{
    position: relative;
}
.password-container span{
    position: absolute;
    right: 10px;
    top: 5px;
}
a.lostpassword{
    color: #a0a0a0;
    text-decoration: underline;
    font-size: 12px;
}
a.lostpassword:hover{
    color: #a0a0a0;;
}
.signin-button button{
    background: url('img/btn-signin.png');
    border: medium none;
    height: 32px;
    width: 97px;
}
.form-signin-popup label{
    margin-bottom: 0;
    color: #9d9d9d;
}
.group_members{
    background: #ffffff;
    color: #939393;
    padding: 15px 0 10px 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.logo-site a{
    margin-right: 12px;
}
/*.form-choose-acc-members{*/
    /*padding-bottom: 12px;*/
/*}*/
.btn-add-acc{
    margin-top: 5px;
}
.btn-acc-edit{
    margin-top: -10px;
}
.form-signin-popup .help-block{
    float: left;
    font-size: 10px;
    margin-top: -12px;
    margin-bottom: -8px;
}
.form-signin-popup .groups-feild{
    margin-bottom: 6px;
}
.form-signin-popup .remember .checkbox input{
    height: 20px;
    margin-top:0;
    height: 13px\9;
    *height: 18px;
    padding: 0\9;
    border: none\9;
    margin-top: 3px\9;
}
.form-signin{
    margin-top: 12px;
}
.logo img{
    margin-top: 10px;
}
.support .hot-line{
    color: #939393;
    font-size: 13px;
}
a.other-authen-by-code{
    font-size: 12px;
    float: left;
    margin-left: 135px;
    margin-bottom: 20px;
    margin-top: -15px;
    text-decoration: underline;
}
#div_activate_email{
    margin-left: 17px;
    width: 630px
}
#div_activate_email .verify_phone button{
    margin-top: -11px;
}
#div_activate_sms{
    margin-top:5px;
    margin-left: 10px;
    width: 285px;
}
.sms {
    float: right;
    margin-left:0 !important;
}
.resend_sms_label{
    color: blue;
    cursor: pointer;
}
label.remind{
     font-size: 12px;
    margin-bottom: 15px;
    margin-top: -10px;
    font-style: italic;
}
.popup-head-left{
    background: url("images/logo-id.png") no-repeat;
    height: 71px;
    width: 143px;
}
.form-lostpassword{
    margin-left: 35px;
}
.form-lostpassword .captcha-form {
    margin-left: 10px;
}
.captcha-form .captcha-lostpass .recaptcha_image_cover{
    border:none;
    width: 300px;
    padding: 5px 0;
}
.captcha-form .captcha-lostpass .recaptcha-main{
    margin-top: 10px;
}
.captcha-form span.recaptcha_only_if_image{
    display: none;
}
#recaptcha_response_field{
    float:left;
}
.captcha-form .captcha-lostpass .recaptcha-main input{
    border-radius:0;
}
.recaptcha-buttons{
    padding-top:2px;
}
.recaptcha-widget #recaptcha_whatsthis_btn {
    background: url("images/recaptcha-sprite.png") repeat scroll 0 0 transparent;
}
.recaptcha-widget #recaptcha_reload_btn {
    background: url("images/recaptcha-sprite.png") repeat scroll -63px center transparent;
}
.recaptcha-widget .recaptcha-buttons a {
    background: none no-repeat scroll center center #FFFFFF;
    display: inline-block;
    height: 21px;
    line-height: 0;
    margin-left: 2px;
    opacity: 0.55;
    width: 21px;
}
.content-popup{
    margin-left: 25px;
    margin-top: 35px;
    font-size: 16px;
    padding-right: 30px;
}
.bt-next .btn-edit{
    background: none repeat scroll 0 0 #2E9FFF;
    border: none;
    border-radius: 2px 2px 2px 2px;
    height: 27px;
    color:white;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    text-decoration:none;
}
.bt-next .btn-edit:hover{
    text-decoration:none;
    background: none repeat scroll 0 0 #307CCE;;
}
.content-popup span p {
    line-height: 25px;
    margin-bottom: 0;
    font-size: 13px;
}
.bt-next{
    margin-top: 25px;
}
.content-popup input{
    padding: 4px 35px;
    margin-top: 13px;
    height: 26px;
}
.content-popup form{
    float: right;
    margin-right: -30px;
    margin-bottom: 48px;
}
.input-details input{
    width: 288px;
}
.input-details a, a.a-tooltip{
    color: #333;
}
.input-details a:hover, a.a-tooltip:hover{
    color: #333;
    text-decoration: none;
}
.popup-activate{
    width: 300px;
}
.popup-activate label {
    font-size: 14px;
}
.label-authen{
    background: url("images/bg-verify-email-label.jpg") no-repeat scroll 0 0 transparent;
    height: 47px;
    margin-top: 15px;
    width: 317px;
    margin-left: 10px;
}
.p-top{
    font-size: 16px;
    margin-top: 15px;
    margin-left: 6px;
    margin-bottom: 20px;
}
.form-head{
    color: #0E76BC;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.details-activate{
     background: url("img/thongtin.png") no-repeat scroll 0 0 transparent;
     height: 19px;
     width: 18px;
     float: right;
      margin-right: 35px;
      cursor: pointer;
      }
.form-head .arrow{
    left: 340px !important;
}
.form-head .popover.bottom{
    margin-left: -220px;
    margin-top: 10px;
    width: 367px;
}

.form-head .popover-content{
    font-weight: normal;
    font-size: 12px;
}
.verify_email .notify-email{
    color: #AF1313;
    float: right;
    font-size: 11px;
    margin-top: -5px;
    text-align: right;
    width: 100%;
}
.lb-info{
    font-size: 12px;
    margin-right: 10px;
    float: left;
}
.screen-activate .input-details input{
    border-radius:0;
}
.screen-activate .help-block{
    font-size: 10px;
    margin-top: -10px;
}
form.verify_email button{
    float:right;
}
.group-code{
    float: left;
    width: 100%;
}
.verify_email .group-code .input-sms-code{
    margin-bottom: 15px;
    width: 272px;
    margin-left: 12px;
}
.group-code label.label-phone{
    line-height: 15px;
    margin-right: 35px;
    margin-top: 0 !important;
}
.group-code label{
    margin-left: -10px;
}
a.btn-other-acc,a.btn-other-acc:hover{
   background: none repeat scroll 0 0 #E4E4E4;
    border: 1px solid #CBCBCB;
    color: #333333;
    float: right;
    height: 19px;
    margin-right: 14px;
    padding-top: 2px;
    border-radius: 2px 2px 2px 2px;
    font-size:12px;
    font-weight: bold;
    line-height: 22px;
}
a.btn-edit-detail,a.btn-edit-detail:hover{
    background: none repeat scroll 0 0 #E4E4E4;
    border: 1px solid #CBCBCB;
    color: #333333;
    float: right;
    height: 19px;
    margin-right: 14px;
    padding-top: 2px;
    border-radius: 2px 2px 2px 2px;
    font-size:12px;
    font-weight: bold;
    line-height: 22px;
}
a.other-authen{
    color: #666666;
    float: right;
    margin-right: 80px;
    margin-top: 3px;
    text-decoration: underline;
    font-size: 11px;
}
.container-captcha .captcha-form{
    margin-left: 0;
}  
.captcha-verify label{
    font-size: 12px;
    margin: 10px 0;
}
 a.authen-by-bk{
    margin-top:-20px;
    margin-right: 204px;
    margin-bottom: 20px;
}
.container-captcha .captcha-form .captcha-input label{
    display: none;
}
.container-captcha .captcha-form .btn-resend-sms{
    border: medium none;
    float: left;
    font-size: 12px;
    height: 25px;
    position: absolute;
    right: 18px;
    top: 50px;
}
.container-captcha .captcha-form .icon-repeat{
    display: none;
}
.container-captcha .captcha-form .icon-refresh{
    background-position: -236px -24px;
    height: 20px;
    width: 20px;
}
.container-captcha .captcha-form span.error{
    display: none;
}
.verify_email_by_bk a.other-authen{
    margin-right: 0;
}
a.other-authen-baokim{
    color: #666666;
    float: right;
    margin-top: 3px;
    text-decoration: underline;
    margin-right: 9px;
    font-size: 11px;
}
button.btn-submit,button.btn-submit:hover{
    background: none repeat scroll 0 0 #0E76BC;
    border:1px solid #0e6dad;
    color: #FFFFFF;
    height: 26px;
    padding-top: 2px;
    width: 94px;
    border-radius: 2px 2px 2px 2px;
    line-height: 22px;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-right: 6px;
}
a.sign-out,a.sign-out:hover{
    background: none repeat scroll 0 0 #0E76BC;
    border: 1px solid #0E6DAD;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    line-height: 21px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 2px;
    text-shadow: none;
    width: 125px;
}
.success-popup .popover.bottom {
    margin-left: -95px;
    width: 410px;
    margin-top: 10px;
    position: relative;
    top: 0 !important;
}
.success-popup .button-success{
    margin-top: 20px;
    text-align: center;
}
.button-success input{
    padding: 4px 35px;
    font-size: 12px;
    font-weight: bold;
}
.label-success-verify{
    background: url("images/bg-verify-success-label.jpg") no-repeat scroll 0 0 transparent;
    height: 37px;
    width: 293px;
    margin-left: 165px;
    margin-top: 11px;
}
.success-popup .popover-content{
    font-size: 12px;
}
.btn-sign-in {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 112px;
    padding: 3px 23px;
    border-radius: 2px;
    margin-top: -5px;
    margin-bottom: 16px;
}
.box-descirption span.end-text img{
    margin-left: 2px;
    margin-top:8px;
}
.box-descirption span.begin-text img{
    margin-top: 15px;
    margin-left: 50px;
    position: absolute;
}
.box-descirption .popover.top{
    width: 409px;
    margin-top: 55px;
    margin-left: 15px;
}
.box-descirption .popover.top .arrow{
    left: 105px;
    border-bottom-color: #FAF9F6;
}
.box-descirption .popover.top img{
    margin: 0 10px;
}
.box-descirption .popover-content{
    background: #faf9f6;
    color: black;
}
.screen-activate .control-group label.label-left{
    text-align: left;
}
.screen-activate{
    width:300px;
}
.screen-activate .control-group{
    margin-bottom:2px;
}
.screen-activate .control-group label.controls-label{
   margin-bottom: -5px;
    margin-top: 10px;
}
.screen-activate .controls{
    margin-left:30px;
}
#input_last_name{
    margin-right:-2px;
}
.screen-activate label.radio label{
    margin-left: 0;
    margin-top:5px;
}
.screen-activate .radio{
    margin-left: 0;
    margin-right: 75px;
}
.screen-activate select.option-dobm{
    margin-left:2px;
    margin-right:2px;
}
.group-form{
    float: left;
}
.screen-activate label{
    font-size:12px;
    font-weight: bold;
}
.screen-activate .input-details{
    margin-bottom: 10px;
}
.screen-activate .group-form .btn-submit{
    border-radius:2px;
}
.label-title{
    background: url('img/bg-title.png') no-repeat;
    height: 7px;
    margin-bottom: 25px;
}
.popup-signin .popover.left .pover-content{
    color: red;
}
.popover.bottom img{
    margin: 0 10px;
}
.verify_email .group-code label{
    margin-left: -12px !important;
    margin-top: 10px;
}
.verify_email .group-code input.input-bk {
    margin-left: 19px;
}
.verify_email .group-code span{
    margin-top: 5px;
    margin-left: 19px;
}
.form-activate .resend-code-link{
    font-size: 11px;
    text-decoration: underline;
}
.form-activate{
    width: 300px;
}
.form-activate input{
    border-radius:0 ;
    width: 282px;
    margin-bottom:-2px;
}
.form-activate span.required{
    display: none;
}
.form-activate label.control-label{
    text-align: left;
    margin-top: 7px;
}
.form-activate a.authen-by-bk{
    margin-right: -222px;
    margin-top: 30px;
}
.form-activate .container-captcha{
    margin-top: -10px;
}
.form-activate .lb-active{
    font-size: 12px;
    font-weight: 600;
}
.popup-activate p.lb-active{
    margin-bottom: 0;
}
.form-activate .label-phone .help-block{
    margin-bottom: -8px;
}
.form-activate .help-block{
    font-size: 10px;
    margin-bottom: 0;
}
.captcha-form .wapper-captcha-form{
    width: 290px;
}
.container-captcha .captcha-form .captcha-input input{
    width: 130px;;
}
.container-captcha .wapper-captcha-form button{
    background-color: #0E76BC;
    background-image: none;
    border-radius: 0 0 0 0;
    float: right;
    font-size: 11px;
    font-weight: 600;
    margin-right: 5px;
    margin-top: 15px;
}
.form-activate span.help-inline{
    font-size: 11px;
    display: table;
}
.popup-activate button.btn-submit-email{
    text-shadow: none;
    margin-right: 10px;
    margin-top: 10px;
}
.wapper-captcha-form .captcha-image{
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
}
.wapper-captcha-form .captcha-image img{
    height: 50px;
}
.wapper-captcha-form .captcha-input{
    width: 190px;
}

.form-activate .label-phone {
    margin-bottom: 5px;
}
.form-activate .label-email{
    margin-bottom: 5px;
}
.infovg{
    margin: 15px;
    width: 780px;
}
.infovg label.lead{
    margin-left: auto;
}
.list-intro img{
    margin-right: 10px;
    margin-top: 10px;
}
.bt-other-acc, .bt-other-acc:hover, .bt-other-acc:active{
     background: none repeat scroll 0 0 #0E76BC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    color: white;
    font-weight: bold;
    margin: 15px 0;
    padding: 10px 15px;
    text-shadow: none;
}
.resend-code-link{
    cursor: pointer;
}
.form-activate .phone-label{
    line-height: 15px;
    margin-bottom: 0;
    margin-top: 0 !important;
    padding-top: 0
}
.captcha-phone .captcha-form{
     border: medium none;
    border-radius: 0 0 0 0;
    margin-left: 0;
    margin-top: 10px;
    padding: 9px;
    width: 560px;
    display: none;
}
.captcha-phone .wapper-captcha-form .captcha-image{
    width: 110px;
}
.captcha-phone .captcha-form .wapper-captcha-form{
    height: 53px;
    margin-left: 0;
    width: 559px;
}
.container-captcha .captcha-phone .wapper-captcha-form button{
    margin-top: -43px;
}
.captcha-phone .captcha-input{
    height: 54px;
}
.captcha-phone{
    margin-top: 50px;
    margin-left: 7px;
}
.form-activate .btn-submit-email:active{
    background: #0E76BC;
    color: #fff;
}
.btn-edits{
    background: none repeat scroll 0 0 #3377BB;
    border: none;
    border-radius: 2px 2px 2px 2px;
    height: 27px;
    color:white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    margin-right: 10px;
}
.cancels, .cancels:hover {
    background: none repeat scroll 0 0 #E0E0E0;
    border-radius: 2px;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: 27px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
ul.info_id{
    font-size: 12px;
    text-align: justify;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    padding-left:13px;
    margin-left: 40px;
}
.banner img{
    float: right;
}
.info_id li{
    font-size: 15px;
    color: #0e76bc;
}
.info_id li p{
    font-size: 12px;
    color: #333;
    padding-right:10px;
}
.tooltip-list-site {
    cursor: pointer;
}
.captcha-hide{
    font-size: 11px;
    display: none;
}
.captcha-hide-phone{
    font-size: 11px;
    display: none;
}
.input_placeholder{ 
    font: 13px/normal sans-serif; 
    left: 6px;
    top: 12px;
    color: rgb(186, 186, 186);
    position: absolute; overflow-x: hidden; 
    font-size-adjust: none; font-stretch: normal;  
}
.label-signin{
    margin-top: 7px;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
}
.form-signin-popup .alert{
    padding: 6px 14px;
    border-radius:0;
    margin-bottom: 8px;
}
.form-signin-popup .remember .control-group{
    margin-bottom: 0;
}
.bg-shadow{
    background:url('img/bg-form-signin.png') no-repeat;
    height: 7px;
    margin-top: 9px;
}
.form-signin-popup label.required {
    font-weight: 600;
}
.bg-shadow-signin{
    background: url('img/bg-header-signin.png') no-repeat;
    height: 1px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.idi-icon-key{
    background-position: -8px -284px;
    height: 36px;
    width: 27px;
}
.header-forgot-pass{
    margin-top: 8px;
}
.header-forgot-pass h4{
    display: inline-block;
    margin: 0;
    color: #3399cc;
    vertical-align: bottom;
    *width: 80%;
    *margin-left: 30px;
    *margin-top: -20px;
}
.e-here{
    margin-top: 12px;
    color: #666666;
    margin-bottom: 10px;
}
.captcha-form .input-prepend span.add-on{
    border-radius:0;
    background: #fff;
    color: #b5b0aa;
    font-weight:bold;
    *margin-top: 1px;
}
.captcha-form .input-prepend input{
    border-radius:0;
    width: 262px;
}
.captcha-form .input-prepend{
    width: 300px;
}
.form-submit{
    margin-top: 12px;
    width: 300px;
    margin-left: 21px;
}
.captcha-form .alert{
    padding: 6px 14px;
    border-radius:0;
    margin-bottom: 8px;
    margin-top: 8px;
}
.form-change-pass input{
    border-radius:0;
    width: 270px;
}
.form-change-pass label.required{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
}
.form-change-pass .help-block{
    font-size: 10px;
    margin-bottom: -5px;
    margin-top: -10px;
}
.form-singin .form-signin-popup input:focus {
    background: none repeat scroll 0 0 rgba(46, 159, 255, 0.055);
    border-color: rgba(46, 159, 255, 0.5);
    outline: medium none;
    transition: background 0.5s ease 0s, border-color 0.5s ease 0s;  
}
.popup-activate .alert{
    padding: 6px 14px;
    border-radius:0;
    margin-bottom: 8px;
}
.form-submit .btn-edits{
    background: none repeat scroll 0 0 #2E9FFF;
}
.form-submit .btn-edits:hover{
    background: none repeat scroll 0 0 #307CCE;
}
.form-submit .cancels:hover{
    background: none repeat scroll 0 0 #C2CAD4;
    color: #353A3D;
    text-decoration: none;
}
#iconSignInFormError{
    display: none;
}
.label-signin{
    margin-top: 7px;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
}
.form-signin-popup .alert{
    padding: 6px 14px;
    border-radius:0;
    margin-bottom: 8px;
}
.form-signin-popup .remember .control-group{
    margin-bottom: 0;
}
.oauth p{
    margin-top: 5px;
    margin-bottom: 9px;
}
.form-signin-popup label.required {
    font-weight: 600;
}
.bg-shadow-signin{
    background: url('img/bg-header-signin.png') no-repeat;
    height: 1px;
    margin-bottom: 8px;
    margin-top: 8px;
}
.e-here{
    margin-top: 12px;
    color: #666666;
    margin-bottom: 10px;
}
.captcha-form .input-prepend span.add-on{
    border-radius:0;
    background: #fff;
    color: #b5b0aa;
    font-weight:bold;
    *margin-top: 1px;
}
.captcha-form .input-prepend input{
    border-radius:0;
    width: 262px;
}
.captcha-form .input-prepend{
    width: 300px;
}
.captcha-form .alert{
    padding: 6px 14px;
    border-radius:0;
    margin-bottom: 8px;
    margin-top: 8px;
}
.form-active{
    margin-left: 45px;
    margin-top: 20px;
}
.form-signin-popup input{
    font-size: 12px;
    box-shadow:none;
    *min-height: 20px;
    border: 1px solid #E4E7EE;
    height: 34px;
    *height: 24px;
}
.radio-option input{
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}
.form-lost-pwd{
    margin-top:10px;
    width: 430px;
}
.hideable-wrapper{
    margin-left: 18px;
}
#changePass-form .help-block{
    font-size:12px;
}
.main-content .signin-a .alert{
    padding: 8px;
    margin: 5px 30px 0 30px;
}
.group_members p{
    margin-bottom: 5px;
}
.main-content .header-email{
    background: #2a2e33;
}
.header-email .support .hot-line{
    color: #ffffff;
}
.header-email .support b{
    color: #ffffff;
}
.radio-option .hideable-wrapper .hideable-box {
    height: 70px;
    margin-left: 3px;
}
.radio-option .hideable-wrapper {
    overflow: hidden;
    transition: all 0ms ease-in-out 0s;
}
.list-acc button {
    background: url("img/icon/arrow_right_1x.png") no-repeat scroll 305px center / 21px 21px #F7F7F7;
    border: 0 none;
    border-radius: 1px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 100%;
    margin-bottom: 3px;
    outline: medium none;
    padding: 7px 13px 6px 8px;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
    background: url(img/icon/arrow_right_1x.png) no-repeat\9;
    background-position-x: 305px\9;
    background-position-y: center\9;
}
.form-choose-acc .list-acc-edit button {
    background: url("img/icon/delete_1x.png") no-repeat scroll 300px center / 21px 21px #F7F7F7;
    background: url(img/icon/delete_1x.png) no-repeat\9;
    background-position-x: 300px\9;
    background-position-y: center\9;
}
.form-choose-acc ul li {
    list-style: none outside none;
    *max-height: 53px;
    *padding-right: 25px;
    *padding-left: 25px;
}
.form-choose-acc .avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 25px;
}
.form-choose-acc .list-acc ul {
    margin-left: 0;
}
.form-choose-acc{
    height: 180px;
    margin-bottom: 31px;
    position: relative;
}
.form-choose-acc span.account-name {
    color: #0D72B6;
    display: block;
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
}
.list-acc-edit{
    margin-bottom: 12px;
}
.form-choose-acc span.account-email {
    color: #666666;
    display: block;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
}
.form-choose-acc .signin-right{
    padding-right: 25px;
    *padding-right: 0;
}
.edit-account-list {
    cursor: pointer;
    font-weight: bold;
    margin-left: 23px;
}
.form-choose-acc .signin-button button {
     background: url("img/btn-add-account.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
     border: medium none;
     height: 32px;
     width: 147px;
}
.current-user .avatar {
    width: 50px;
    float: left;
    height: 50px;
    margin-right: 15px;
}
.current-user span.current-user-name {
    color: #0D72B6;
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
}
.current-user span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
span.current-user-email {
    margin-bottom: 10px;
}
#account-choose  .acc-box button{
    margin-left: 23px;
}
.current-user{
    margin-bottom: 20px;
}
.form-choose-acc #account-choose{
    margin-bottom: 8px;
}
.form-choose-acc .list-acc .btn-acc span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}
.list-acc{
    height: 127px;
}
.list-acc .acc-item button{

}
/*.cok-acc{*/
    /*padding-bottom: 13px !important;*/
/*}*/
.edit-account-list-success {
    cursor: pointer;
    font-weight: bold;
    margin-left: 150px;
    text-decoration: underline;

}
.another-acc{
    margin-top: 10px;
}
.choose-account{
    text-align: center;
    margin-top: -15px;
    *margin-top: -12px;
}
.choose-account h1{
    font-size: 20px;
    font-weight: normal;
    color: #262626;
    margin: 0;
    font-family: Arial;
}
.pagination-account ul{
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.pagination-account ul li a{
    border: none;
    border-radius:0 !important;
    box-shadow: none;
    background: transparent;
    padding: 0;
    float: none;
    padding-left: 5px;
    padding-right: 5px;
}
.pagination-account{
    margin:-10px 0 0;

}
.pagination-account ul li a:hover{
   background: none;
}
.pagination-account ul li.active a{
    background:none;
}
.frm-pwr-by-em{
    margin-top: 20px;
}
.frm-pwr-by-em .form-submit{
    margin-left: 0;
}