 .tab-content{border:1px solid #ccc;padding:7px;background:rgba(241, 241, 241, 0.27);}
  #regestration input,#regestration button,#regestration select{border-radius:0}
  #regestration label{font-weight:normal}
  
  #regestration #pane_login, #regestration  #pane_reg{margin-top:10px;}
  #regestration .btn-blue:hover{background: #0065af;
color: #fff;}
  #regestration .btn-blue{background: #0072c6;border-radius:0;text-transform:uppercase;
color: #fff;border:1px solid #ccc}

.tabbable li a{color:#111;background:none !important;border-radius:none;border:none !important}
.tabbable .nav-tabs>li>a:hover{color:#111}
.tabbable .nav-tabs{border:none}
.tabbable li.active{border-bottom:1px solid rgba(241, 241, 241, 0.27);background: rgb(250, 250, 250) !important;color:#111;}
.nav-tabs>li>a{border-radius:0;margin-right:0}
.tabbable li.active a{
background: none !important;
color: #111;
background: rgba(241, 241, 241, 0.27); !important;}
.tabbable li{
	
	border-bottom:1px solid transparent;
	position:relative;
	bottom:-1px;
	border-left:2px solid transparent;
	position: relative;
	border-radius:0 !important;
display: block;
background: none !important;
color:#FFF;
border:1px solid #ccc;
border-bottom:none;

border-radius: 0;
margin: 3px;
margin-bottom:0;
margin-left:10px;
}





  #reg_modal_header{ background:green;border-top-left-radius:6px;border-top-right-radius:6px;border-radius:0px;}
#reg_close{ opacity:0.5;}
#reg_close:hover{opacity:1;}

.rw{height: 32px;line-height: 32px;margin: 10px 0;text-align: left;}
.size1of4 {width: 25%;float: left;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
.rt{overflow: hidden;}
.rw .rt input {font-size: 13px;padding: 0 0;valign:text-top; height:90%;width:90%;}

.lbl{border: 0;font-size: 100%;font: inherit;vertical-align: bottom;padding-top:3px;margin-top:2px;}
#login_email_id,#login_password,#reg_mob_no{border: 1px solid #ccc;resize: none;font-family: inherit;text-align:center;background:white;}
.fk-input{border: 1px solid #ccc;resize: none;font-family: inherit;text-align:center;background:white;font-size: 13px;}


div #OR{ height: 50px; width: 50px; border: 1px solid #ddd; border-radius: 50%; font-weight: bold; line-height: 50px; /* Equals elements height */
 text-align: center;font-size:20px;float:right;position: absolute;right: -25px;top:75px;z-index:1;background:white;
}
.reg_modal{border-radius:0px;border-bottom:4px solid green;}
#reg_name{width:150px;margin-left:-50px;height:30px;}
