.title-rpmenu {
    padding: 7px;
    color: #FFF;
    font-size: 17px;
    cursor: pointer;
    cursor: hand;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 12345;
}
.title-rpmenu .icon-bar {
    width: 30px;
    height: 4px;
    background: #FFFFFF;
    float: left;
    clear: both;
    margin-bottom: 3px;
    border-radius: 0px;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.56);
    -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.56);
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.56);
}
.cart-epx{/* display:none */}




#responsive-menu .close{    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 26px;
    z-index: 123;}
#responsive-menu {
    position: fixed;
    z-index: 1;
    background: #5C616D;
    width: auto;
    max-height: 100%;
    z-index: 1234;
    max-height: 420px;
    overflow-y: auto;
    left: -300px;
    height:100%;
    width:300px;
    min-height:100%;
    box-shadow: rgba(50, 50, 50, 0.498039) -2px 0px 5px 0px inset;
}

#responsive-menu .search{
    position: relative;
    padding: 0 5px;
    margin-top: 25px;
}
#responsive-menu .search form{}
#responsive-menu .search form input{
    width: 100%;
    padding: 5px;
    height: 27px;
    border: 1px solid rgba(204, 204, 204, 0.35);
    border-radius: 0px;
}
#responsive-menu .search form button{
    position: absolute;
    right: 5px;
    top: 0;
    border: 0;
    padding: 3px 13px;
    background-color: black;
    color: #fff;
    font-size: 15px;
}


#responsive-menu .search form button i{
    position: relative;
    top: 2px;
}
 #responsive-menu .content {
    max-width: 300px;
    float: right;
    width: 100%;
  
}
#responsive-menu .content ul {
    list-style: none;
    padding: 0;

    width: 100%;
}
 #responsive-menu .content > ul{
   
    padding: 0;
    margin: 0;

}

 #responsive-menu .content  .toggle-menu{
       float: right;
    cursor: hand;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 11px;
}
 #responsive-menu .content  .toggle-menu.active{

}
 #responsive-menu .content  ul li a{
       color: #FFFFFF;
    font-size: 16px;
    padding-left: 5px;
    font-family: Avo;
}
 #responsive-menu .content  ul li{
	 
	 
	  -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	 
	 
    padding: 8px 0px;
    border-bottom:1px solid rgba(247, 246, 246, 0.25);
    position: relative;
    cursor: hand;
    cursor: pointer;
    float: none;
}
#responsive-menu .content  ul li:hover{background: #084460;}
#responsive-menu .content  ul li ul{display:none}
 #responsive-menu .content li li:first-child{    border-top: 1px solid rgba(247, 246, 246, 0.25);
}
 #responsive-menu .content > ul > li ul{
    position: relative;
    top: 9px;
}
#responsive-menu .content > ul li ul li{
    /* padding-left: 15px; */
    text-indent: 10px;
}
#responsive-menu .content > ul li ul li ul li{text-indent:20px}
#responsive-menu .content > ul > li > ul > li > ul{}