@font-face {
	font-family: "Avo_bold";
	src: url("utm-avobold.eot");
	src: url("utm-avobold.eot#iefix") format("embedded-opentype"),
	url("utm-avobold.woff") format("woff"),
	url("utm-avobold.ttf") format("truetype"),
	url("utm-avobold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="avo_bold-"]:before, [class*=" avo_bold-"]:before,
[class^="avo_bold-"]:after, [class*=" avo_bold-"]:after {   
	font-family: Avo_bold;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.avo_bold-exclam:before {
	content: "\21";
}
.avo_bold-quotedbl:before {
	content: "\22";
}
.avo_bold-numbersign:before {
	content: "\23";
}
.avo_bold-dollar:before {
	content: "\24";
}
.avo_bold-percent:before {
	content: "\25";
}
.avo_bold-ampersand:before {
	content: "\26";
}
.avo_bold-quotesingle:before {
	content: "\27";
}
.avo_bold-parenleft:before {
	content: "\28";
}
.avo_bold-parenright:before {
	content: "\29";
}
.avo_bold-asterisk:before {
	content: "\2a";
}
.avo_bold-plus:before {
	content: "\2b";
}
.avo_bold-comma:before {
	content: "\2c";
}
.avo_bold-hyphen:before {
	content: "\2d";
}
.avo_bold-hyphen:before {
	content: "\2010";
}
.avo_bold-period:before {
	content: "\2e";
}
.avo_bold-slash:before {
	content: "\2f";
}
.avo_bold-zero:before {
	content: "\30";
}
.avo_bold-one:before {
	content: "\31";
}
.avo_bold-two:before {
	content: "\32";
}
.avo_bold-three:before {
	content: "\33";
}
.avo_bold-four:before {
	content: "\34";
}
.avo_bold-five:before {
	content: "\35";
}
.avo_bold-six:before {
	content: "\36";
}
.avo_bold-seven:before {
	content: "\37";
}
.avo_bold-eight:before {
	content: "\38";
}
.avo_bold-nine:before {
	content: "\39";
}
.avo_bold-colon:before {
	content: "\3a";
}
.avo_bold-semicolon:before {
	content: "\3b";
}
.avo_bold-less:before {
	content: "\3c";
}
.avo_bold-equal:before {
	content: "\3d";
}
.avo_bold-greater:before {
	content: "\3e";
}
.avo_bold-question:before {
	content: "\3f";
}
.avo_bold-at:before {
	content: "\40";
}
.avo_bold-A:before {
	content: "\41";
}
.avo_bold-B:before {
	content: "\42";
}
.avo_bold-C:before {
	content: "\43";
}
.avo_bold-D:before {
	content: "\44";
}
.avo_bold-E:before {
	content: "\45";
}
.avo_bold-F:before {
	content: "\46";
}
.avo_bold-G:before {
	content: "\47";
}
.avo_bold-H:before {
	content: "\48";
}
.avo_bold-I:before {
	content: "\49";
}
.avo_bold-J:before {
	content: "\4a";
}
.avo_bold-K:before {
	content: "\4b";
}
.avo_bold-L:before {
	content: "\4c";
}
.avo_bold-M:before {
	content: "\4d";
}
.avo_bold-N:before {
	content: "\4e";
}
.avo_bold-O:before {
	content: "\4f";
}
.avo_bold-P:before {
	content: "\50";
}
.avo_bold-Q:before {
	content: "\51";
}
.avo_bold-R:before {
	content: "\52";
}
.avo_bold-S:before {
	content: "\53";
}
.avo_bold-T:before {
	content: "\54";
}
.avo_bold-U:before {
	content: "\55";
}
.avo_bold-V:before {
	content: "\56";
}
.avo_bold-W:before {
	content: "\57";
}
.avo_bold-X:before {
	content: "\58";
}
.avo_bold-Y:before {
	content: "\59";
}
.avo_bold-Z:before {
	content: "\5a";
}
.avo_bold-bracketleft:before {
	content: "\5b";
}
.avo_bold-backslash:before {
	content: "\5c";
}
.avo_bold-bracketright:before {
	content: "\5d";
}
.avo_bold-asciicircum:before {
	content: "\5e";
}
.avo_bold-underscore:before {
	content: "\5f";
}
.avo_bold-grave:before {
	content: "\60";
}
.avo_bold-a:before {
	content: "\61";
}
.avo_bold-b:before {
	content: "\62";
}
.avo_bold-c:before {
	content: "\63";
}
.avo_bold-d:before {
	content: "\64";
}
.avo_bold-e:before {
	content: "\65";
}
.avo_bold-f:before {
	content: "\66";
}
.avo_bold-g:before {
	content: "\67";
}
.avo_bold-h:before {
	content: "\68";
}
.avo_bold-i:before {
	content: "\69";
}
.avo_bold-j:before {
	content: "\6a";
}
.avo_bold-k:before {
	content: "\6b";
}
.avo_bold-l:before {
	content: "\6c";
}
.avo_bold-m:before {
	content: "\6d";
}
.avo_bold-n:before {
	content: "\6e";
}
.avo_bold-o:before {
	content: "\6f";
}
.avo_bold-p:before {
	content: "\70";
}
.avo_bold-q:before {
	content: "\71";
}
.avo_bold-r:before {
	content: "\72";
}
.avo_bold-s:before {
	content: "\73";
}
.avo_bold-t:before {
	content: "\74";
}
.avo_bold-u:before {
	content: "\75";
}
.avo_bold-v:before {
	content: "\76";
}
.avo_bold-w:before {
	content: "\77";
}
.avo_bold-x:before {
	content: "\78";
}
.avo_bold-y:before {
	content: "\79";
}
.avo_bold-z:before {
	content: "\7a";
}
.avo_bold-braceleft:before {
	content: "\7b";
}
.avo_bold-bar:before {
	content: "\7c";
}
.avo_bold-braceright:before {
	content: "\7d";
}
.avo_bold-asciitilde:before {
	content: "\7e";
}
.avo_bold-copyright:before {
	content: "\a9";
}
.avo_bold-registered:before {
	content: "\ae";
}
.avo_bold-paragraph:before {
	content: "\b6";
}
.avo_bold-Agrave:before {
	content: "\c0";
}
.avo_bold-Aacute:before {
	content: "\c1";
}
.avo_bold-uni1EA2:before {
	content: "\1ea2";
}
.avo_bold-Atilde:before {
	content: "\c3";
}
.avo_bold-uni1EA0:before {
	content: "\1ea0";
}
.avo_bold-Acircumflex:before {
	content: "\c2";
}
.avo_bold-uni1EA6:before {
	content: "\1ea6";
}
.avo_bold-uni1EA4:before {
	content: "\1ea4";
}
.avo_bold-uni1EA8:before {
	content: "\1ea8";
}
.avo_bold-uni1EAA:before {
	content: "\1eaa";
}
.avo_bold-uni1EAC:before {
	content: "\1eac";
}
.avo_bold-Abreve:before {
	content: "\102";
}
.avo_bold-uni1EB0:before {
	content: "\1eb0";
}
.avo_bold-uni1EAE:before {
	content: "\1eae";
}
.avo_bold-uni1EB2:before {
	content: "\1eb2";
}
.avo_bold-uni1EB4:before {
	content: "\1eb4";
}
.avo_bold-uni1EB6:before {
	content: "\1eb6";
}
.avo_bold-Egrave:before {
	content: "\c8";
}
.avo_bold-Eacute:before {
	content: "\c9";
}
.avo_bold-uni1EBA:before {
	content: "\1eba";
}
.avo_bold-uni1EBC:before {
	content: "\1ebc";
}
.avo_bold-uni1EB8:before {
	content: "\1eb8";
}
.avo_bold-Ecircumflex:before {
	content: "\ca";
}
.avo_bold-uni1EC0:before {
	content: "\1ec0";
}
.avo_bold-uni1EBE:before {
	content: "\1ebe";
}
.avo_bold-uni1EC2:before {
	content: "\1ec2";
}
.avo_bold-uni1EC4:before {
	content: "\1ec4";
}
.avo_bold-uni1EC6:before {
	content: "\1ec6";
}
.avo_bold-Igrave:before {
	content: "\cc";
}
.avo_bold-Iacute:before {
	content: "\cd";
}
.avo_bold-uni1EC8:before {
	content: "\1ec8";
}
.avo_bold-Itilde:before {
	content: "\128";
}
.avo_bold-uni1ECA:before {
	content: "\1eca";
}
.avo_bold-Ograve:before {
	content: "\d2";
}
.avo_bold-Oacute:before {
	content: "\d3";
}
.avo_bold-uni1ECE:before {
	content: "\1ece";
}
.avo_bold-Otilde:before {
	content: "\d5";
}
.avo_bold-uni1ECC:before {
	content: "\1ecc";
}
.avo_bold-Ocircumflex:before {
	content: "\d4";
}
.avo_bold-uni1ED2:before {
	content: "\1ed2";
}
.avo_bold-uni1ED0:before {
	content: "\1ed0";
}
.avo_bold-uni1ED4:before {
	content: "\1ed4";
}
.avo_bold-uni1ED6:before {
	content: "\1ed6";
}
.avo_bold-uni1ED8:before {
	content: "\1ed8";
}
.avo_bold-Ugrave:before {
	content: "\d9";
}
.avo_bold-Uacute:before {
	content: "\da";
}
.avo_bold-uni1EE6:before {
	content: "\1ee6";
}
.avo_bold-Utilde:before {
	content: "\168";
}
.avo_bold-uni1EE4:before {
	content: "\1ee4";
}
.avo_bold-Uhorn:before {
	content: "\1af";
}
.avo_bold-uni1EEA:before {
	content: "\1eea";
}
.avo_bold-uni1EE8:before {
	content: "\1ee8";
}
.avo_bold-uni1EEC:before {
	content: "\1eec";
}
.avo_bold-uni1EEE:before {
	content: "\1eee";
}
.avo_bold-uni1EF0:before {
	content: "\1ef0";
}
.avo_bold-Ohorn:before {
	content: "\1a0";
}
.avo_bold-uni1EDC:before {
	content: "\1edc";
}
.avo_bold-uni1EDA:before {
	content: "\1eda";
}
.avo_bold-uni1EDE:before {
	content: "\1ede";
}
.avo_bold-uni1EE0:before {
	content: "\1ee0";
}
.avo_bold-uni1EE2:before {
	content: "\1ee2";
}
.avo_bold-Ygrave:before {
	content: "\1ef2";
}
.avo_bold-Yacute:before {
	content: "\dd";
}
.avo_bold-uni1EF6:before {
	content: "\1ef6";
}
.avo_bold-uni1EF8:before {
	content: "\1ef8";
}
.avo_bold-uni1EF4:before {
	content: "\1ef4";
}
.avo_bold-agrave:before {
	content: "\e0";
}
.avo_bold-aacute:before {
	content: "\e1";
}
.avo_bold-uni1EA3:before {
	content: "\1ea3";
}
.avo_bold-atilde:before {
	content: "\e3";
}
.avo_bold-uni1EA1:before {
	content: "\1ea1";
}
.avo_bold-acircumflex:before {
	content: "\e2";
}
.avo_bold-uni1EA7:before {
	content: "\1ea7";
}
.avo_bold-uni1EA5:before {
	content: "\1ea5";
}
.avo_bold-uni1EA9:before {
	content: "\1ea9";
}
.avo_bold-uni1EAB:before {
	content: "\1eab";
}
.avo_bold-uni1EAD:before {
	content: "\1ead";
}
.avo_bold-abreve:before {
	content: "\103";
}
.avo_bold-uni1EB1:before {
	content: "\1eb1";
}
.avo_bold-uni1EAF:before {
	content: "\1eaf";
}
.avo_bold-uni1EB3:before {
	content: "\1eb3";
}
.avo_bold-uni1EB5:before {
	content: "\1eb5";
}
.avo_bold-uni1EB7:before {
	content: "\1eb7";
}
.avo_bold-egrave:before {
	content: "\e8";
}
.avo_bold-eacute:before {
	content: "\e9";
}
.avo_bold-uni1EBB:before {
	content: "\1ebb";
}
.avo_bold-uni1EBD:before {
	content: "\1ebd";
}
.avo_bold-uni1EB9:before {
	content: "\1eb9";
}
.avo_bold-ecircumflex:before {
	content: "\ea";
}
.avo_bold-uni1EC1:before {
	content: "\1ec1";
}
.avo_bold-uni1EBF:before {
	content: "\1ebf";
}
.avo_bold-uni1EC3:before {
	content: "\1ec3";
}
.avo_bold-uni1EC5:before {
	content: "\1ec5";
}
.avo_bold-uni1EC7:before {
	content: "\1ec7";
}
.avo_bold-igrave:before {
	content: "\ec";
}
.avo_bold-iacute:before {
	content: "\ed";
}
.avo_bold-uni1EC9:before {
	content: "\1ec9";
}
.avo_bold-itilde:before {
	content: "\129";
}
.avo_bold-uni1ECB:before {
	content: "\1ecb";
}
.avo_bold-ograve:before {
	content: "\f2";
}
.avo_bold-oacute:before {
	content: "\f3";
}
.avo_bold-uni1ECF:before {
	content: "\1ecf";
}
.avo_bold-otilde:before {
	content: "\f5";
}
.avo_bold-uni1ECD:before {
	content: "\1ecd";
}
.avo_bold-ocircumflex:before {
	content: "\f4";
}
.avo_bold-uni1ED3:before {
	content: "\1ed3";
}
.avo_bold-uni1ED1:before {
	content: "\1ed1";
}
.avo_bold-uni1ED5:before {
	content: "\1ed5";
}
.avo_bold-uni1ED7:before {
	content: "\1ed7";
}
.avo_bold-uni1ED9:before {
	content: "\1ed9";
}
.avo_bold-glyph216:before {
	content: "\f9";
}
.avo_bold-glyph217:before {
	content: "\fa";
}
.avo_bold-uni1EE7:before {
	content: "\1ee7";
}
.avo_bold-utilde:before {
	content: "\169";
}
.avo_bold-uni1EE5:before {
	content: "\1ee5";
}
.avo_bold-uhorn:before {
	content: "\1b0";
}
.avo_bold-uni1EEB:before {
	content: "\1eeb";
}
.avo_bold-uni1EE9:before {
	content: "\1ee9";
}
.avo_bold-uni1EED:before {
	content: "\1eed";
}
.avo_bold-uni1EEF:before {
	content: "\1eef";
}
.avo_bold-uni1EF1:before {
	content: "\1ef1";
}
.avo_bold-ohorn:before {
	content: "\1a1";
}
.avo_bold-uni1EDD:before {
	content: "\1edd";
}
.avo_bold-uni1EDB:before {
	content: "\1edb";
}
.avo_bold-uni1EDF:before {
	content: "\1edf";
}
.avo_bold-uni1EE1:before {
	content: "\1ee1";
}
.avo_bold-uni1EE3:before {
	content: "\1ee3";
}
.avo_bold-ygrave:before {
	content: "\1ef3";
}
.avo_bold-glyph234:before {
	content: "\fd";
}
.avo_bold-uni1EF7:before {
	content: "\1ef7";
}
.avo_bold-uni1EF9:before {
	content: "\1ef9";
}
.avo_bold-uni1EF5:before {
	content: "\1ef5";
}
.avo_bold-Dslash:before {
	content: "\110";
}
.avo_bold-dcroat:before {
	content: "\111";
}
.avo_bold-quoteleft:before {
	content: "\2018";
}
.avo_bold-quoteright:before {
	content: "\2019";
}
.avo_bold-quotedblleft:before {
	content: "\201c";
}
.avo_bold-quotedblright:before {
	content: "\201d";
}
.avo_bold-ellipsis:before {
	content: "\2026";
}
